body {
  background-image: url(../Assets/SetAssets2/background_stars.png);
  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

#game {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#player {
    background-color: brown;
  position: absolute;
  background-image: url(../Assets/SetAssets2/ship_1.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.Meteor {
    
  background-color: brown;
  position: absolute;
  background-image: url(../Assets/SetAssets2/meteor.png);
  background-size: contain;
  background-repeat: no-repeat;
}


#page-gameover {
    text-align: center;
    background-color: blanchedalmond;
}

.bullet {
  width: 6px;
  height: 12px;
  background: yellow;
  position: absolute;
}